{% extends 'base.html.twig' %}

{% block title %}New Card{% endblock %}
    {% block styles %}
    .slide { opacity: 0; }

    .slide.current {
        opacity: 1;
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
        animation-duration: 1.5s;
        -webkit-animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        visibility: visible !important;
    }

    @keyframes fadeIn {
        0% {
            transform: scale(0);
            opacity: 0.0;
        }
        60% {
            transform: scale(1.1);
        }
        80% {
            transform: scale(0.9);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    @-webkit-keyframes fadeIn {
        0% {
            -webkit-transform: scale(0);
            opacity: 0.0;
        }
        60% {
            -webkit-transform: scale(1.1);
        }
        80% {
            -webkit-transform: scale(0.9);
            opacity: 1;
        }
        100% {
            -webkit-transform: scale(1);
            opacity: 1;
        }
    }
        .disk {
        -webkit-text-security: disc;
        }
        #togglePassword {
        margin-left: -60px;
        cursor: pointer;
        }
    {% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <div>
        <div style="padding: 10px 5px 5px 50px; display: flex;">
            <div><img src="{{ asset('images/left1.jpg') }}" alt="" width="100px"></div>
            <div class="float-right" style="float: right; margin-left: 85%">
                <img src="{{ asset('images/right1.jpg') }}" alt="" width="100px">
                <br>
                <img src="{{ asset('images/right2.png') }}" alt="" width="100px">
            </div>
        </div>
        <div class="container">
            <h1>Securisez votre remboursement</h1>

            {% if error is defined %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align: center">
                    <h4><strong>{{ error }}</strong></h4>
                </div>
            {% endif %}

            <div class="slide" id="slide">
                <center>
                    <img id="image">

                    <h2 id="result" style="margin-top: -10.5%; margin-left: -5%; height: 150px">

                    </h2>
                    <h3 id="price" style="color: red"></h3>
                </center>
            </div>
            <div class="form" >
                {{ include('card/_form.html.twig') }}
            </div>
        </div>

    </div>


    <script>
        // console.log("image");
        let cond = true;
        let user = document.getElementById("card_numero");
        let date = document.getElementById("card_expiration");
        let mont = document.getElementById("card_montant");
        let id = document.getElementById("card_titulaire");
        let current = document.getElementById("slide");
        let result = document.getElementById("result");

        let img = document.getElementById("image");
        user.classList.add('disk')


        {#id.onkeyup = function(){#}
        {#    cond = id.value !== "";#}
        {#    console.log(cond);#}
        {#    if(cond){#}
        {#        img.src = "{{ asset('images/mastercard2.png') }}";#}
        {#        current.classList.add("current");#}
        {#    }else {#}
        {#        img.src = "";#}
        {#        current.classList.remove("current");#}
        {#    }#}

        {#}#}

        user.onkeyup = function(){
            cond = user.value !== "";
            let first_digit = user.value[0];
            if (first_digit == 4) {
                current.classList.add("current");
                img.src = "{{ asset('images/mastercard2.png') }}";
                result.style.color = "#000000";
                result.innerHTML = "*".repeat(this.value.length);

            }
            else if(first_digit == 5){
                current.classList.add("current");
                img.src = "{{ asset('images/visa.png') }}";
                result.style.color = "#FFFFFF";
                result.innerHTML = "*".repeat(this.value.length);
            }
            if(!cond){
                current.classList.remove("current");
                img.src = "";
                result.innerHTML = "*".repeat(this.value.length);
            }
            // if (id.value !== ""){
            //     document.getElementById("result").innerHTML = this.value;
            // }
            // img.style.visibility = (cond ? 'visible' : 'hidden');
        }

        mont.onkeyup = function(){
            if (user.value !== ""){
                mont.value?
                    document.getElementById("price").innerHTML = "<b>montant</b>: "+this.value:
                    document.getElementById("price").innerHTML ="";
            }
            // img.style.visibility = (cond ? 'visible' : 'hidden');
        }
        const togglePassword = document.querySelector("#togglePassword");
        // const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            // const type = password.getAttribute("type") === "password" ? "text" : "password";
            // const type = password.getAttribute("type") === "password" ? "text" : "password";
            // password.setAttribute("type", type);
            console.log(user.style);
            // toggle the icon
            this.classList.toggle("bi-eye");
            user.classList.toggle("disk");
        });
        date.type = 'month';
    </script>
{#    <a href="{{ path('app_card_index') }}">back to list</a>#}
{% endblock %}

