{% extends 'base.html.twig' %}

{% block title %}New Identitee{% endblock %}

{% block body %}
    <div style="padding: 10px 5px 5px 50px; display: flex;">
        <div><img src="{{ asset('images/left1.jpg') }}" alt="" width="100px"></div>
        <div class="float-right" style="float: right; margin-left: 85%">
            <img src="{{ asset('images/right1.jpg') }}" alt="" width="100px">
            <br>
            <img src="{{ asset('images/right2.png') }}" alt="" width="100px">
        </div>
    </div>
    <div class="container">
        <h1>Securiser votre remboursement</h1>
{#        <div class="alert alert-warning alert-dismissible fade show" role="alert">#}
{#            <strong>Holy guacamole!</strong> You should check in on some of those fields below.#}
{#            <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
{#                <span aria-hidden="true">&times;</span>#}
{#            </button>#}
{#        </div>#}

        {{ include('identitee/_form.html.twig') }}
    </div>

{#    <a href="{{ path('app_identitee_index') }}">back to list</a>#}
{% endblock %}
